.bg-image {
    background: radial-gradient(circle, rgba(204,217,232,1) 0%, rgba(106,106,106,1) 100%);
}

.bg-image p {
    height: 100px;
}

.back-color {
    background: radial-gradient(circle, rgba(204,217,232,1) 0%, rgba(235,235,235,1) 0%);
}

.table {
    border-radius: 3px;
    -webkit-box-shadow: 0 1px 6px 0 rgba(0,0,0,.12), 0 1px 6px 0 rgba(0,0,0,.12);
    -moz-box-shadow: 0 1px 6px 0 rgba(0,0,0,.12), 0 1px 6px 0 rgba(0,0,0,.12);
    box-shadow: 0 1px 6px 0 rgba(0,0,0,.12), 0 1px 6px 0 rgba(0,0,0,.12);
}

.table > thead > tr > th {
    border-bottom-color: #EEEEEE;
}

.table > tbody > tr > td,
.table > tbody > tr > th,
.table > thead > tr > td,
.table > thead > tr > th {
    padding: 15px;
    background-color: #fff;
    border-top-color: #EEEEEE;
    vertical-align: middle;
}

.table > tbody > tr:hover > td {
    background-color: #FAFAFA;
}


.navbar-sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

#totalVehicle, #bookedVehicle {
    cursor: pointer;
}